{
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  {{#if_eq lintConfig "standard"}}
  "extends": "standard",
  {{/if_eq}}
  {{#if_eq lintConfig "airbnb"}}
  "extends": "airbnb-base",
  {{/if_eq}}
  "env": {
    "browser": true
  },
  "plugins": [
    "vue"
  ],
  "settings": {
    "import/extensions": [".js", ".vue", ".less"]
  }
}
